    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Upload data</h1>
        <form action="/success.html" method="post">
            <input type="text" placeholder="firstname" name="firstname" autofocus>
            <input type="text" placeholder="lastname" name="lastname" >
            <input type="mail" placeholder="mail_id" name="mail_id">
            <button type="submit">Submit</button>
        </form>
    </body>
    </html>